In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_csv("Dataset/ipl_data.csv")
dataset.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [4]:
dataset.shape

(76014, 15)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [6]:
dt = dataset.drop(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5','mid', 'striker', 'non-striker'], axis =1)
dt.shape

(76014, 6)

In [7]:
dt.head()

,venue,bat_team,bowl_team,batsman,bowler,total
0,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,222
1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,222
2,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,222
3,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,222
4,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,222

In [8]:
X = dt.drop(['total'],axis = 1)
y = dt['total']

X.shape, y.shape

((76014, 5), (76014,))

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
X['venue'] = LabelEncoder().fit_transform(X['venue'])
X['bat_team'] = LabelEncoder().fit_transform(X['bat_team'])
X['bowl_team'] = LabelEncoder().fit_transform(X['bowl_team'])
X['batsman'] = LabelEncoder().fit_transform(X['batsman'])
X['bowler'] = LabelEncoder().fit_transform(X['bowler'])

In [11]:
X.head()

   venue  bat_team  bowl_team  batsman  bowler
0     14         6         12      328     201
1     14         6         12       61     201
2     14         6         12       61     201
3     14         6         12       61     201
4     14         6         12       61     201

In [13]:
X['venue'].value_counts()

14    7443
8     7068
7     7049
34    7048
15    5972
23    5827
22    4247
26    4110
4     2088
31    2086
16    1843
13    1731
24    1484
1     1380
32    1377
21    1342
25    1229
10    1115
5     1113
18     995
30     870
6      868
0      856
12     837
29     836
28     744
27     742
19     737
11     617
17     499
9      492
2      380
33     370
3      368
20     251
Name: venue, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y, stratify=y,random_state=42,test_size=0.2)

In [17]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled.shape, X_test_scaled.shape

((60811, 5), (15203, 5))

In [16]:
from tensorflow.keras.layers import Dense,Input
from tensorflow.keras.models import Sequential

In [20]:
model = Sequential([
    Input(shape = (X_train_scaled.shape[1],)),
    Dense(516,activation = 'relu'),
    Dense(128,activation = 'relu'),
    Dense(1,activation = 'sigmoid'),
])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 516)               3096
_________________________________________________________________
dense_4 (Dense)              (None, 128)               66176
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 129
=================================================================
Total params: 69,401
Trainable params: 69,401
Non-trainable params: 0
_________________________________________________________________

In [21]:
model.compile(optimizer='adam',loss = 'binary_crossentropy', metrics=['accuracy'])

In [22]:
history = model.fit(X_train_scaled,y_train,epochs=20)

Epoch 1/20
1901/1901 [==============================] - 11s 5ms/step - loss: -45593327.9009 - accuracy: 0.0000e+00 0s - loss: -38306709.2518 - accuracy: 0.0000e+ - ETA: 0s - loss: -38490174.4
Epoch 2/20
1901/1901 [==============================] - 14s 7ms/step - loss: -1251351360.3701 - accuracy: 0.0000e+00 3s - loss: -10
Epoch 3/20
1901/1901 [==============================] - 22s 12ms/step - loss: -5309977140.0883 - accuracy: 0.0000e+00
Epoch 4/20
1901/1901 [==============================] - 20s 10ms/step - loss: -12982751649.7834 - accuracy: 0.0000e+00 9s - loss: -11972225011.3914 - ETA:  - ETA: 2s - loss: -12702114369.2075
Epoch 5/20
1901/1901 [==============================] - 18s 9ms/step - loss: -24941728872.4458 - accuracy: 0.0000e+00: 0s - loss: -24888529548.0832 - accuracy: 0.0000
Epoch 6/20
1901/1901 [==============================] - 12s 6ms/step - loss: -41693355717.5857 - accuracy: 0.0000e+00: 2s - loss: -40496533846.9732 - accuracy: 0.00 -
Epoch 7/20
1901/1901 [==============================] - 18s 9ms/step - loss: -64274626613.8381 - accuracy: 0.0000e+00: 0s - loss: -63991917075.1297 - accuracy:
Epoch 8/20
1901/1901 [==============================] - 11s 6ms/step - loss: -92901596102.9317 - accuracy: 0.0000e+00
Epoch 9/20
1901/1901 [==============================] - 12s 6ms/step - loss: -128552442120.8833 - accuracy: 0.0000e+00
Epoch 10/20
1901/1901 [==============================] - 13s 7ms/step - loss: -171826574022.6625 - accuracy: 0.0000e+00 3s - l - E - ETA: 1s - l - ETA: 0s - loss: -171333847199
Epoch 11/20
1901/1901 [==============================] - 14s 8ms/step - loss: -223114220583.8402 - accuracy: 0.0000e+00
Epoch 12/20
1901/1901 [==============================] - 14s 8ms/step - loss: -284311301493.6362 - accuracy: 0.0000e+00
Epoch 13/20
1901/1901 [==============================] - 8s 4ms/step - loss: -353715413810.3386 - accuracy: 0.0000e+00
Epoch 14/20
1901/1901 [==============================] - 7s 4ms/step - loss: -434290692255.3607 - accuracy: 0.0000e+00
Epoch 15/20
1901/1901 [==============================] - 7s 4ms/step - loss: -525788062359.2850 - accuracy: 0.0000e+00
Epoch 16/20
1901/1901 [==============================] - 12s 6ms/step - loss: -629141289199.0410 - accuracy: 0.0000e+00
Epoch 17/20
1901/1901 [==============================] - 12s 6ms/step - loss: -744362581301.0305 - accuracy: 0.0000e+00 0s - loss: -742664501689.5465 - accuracy:  - ETA: 0s - loss: -742966514065.9
Epoch 18/20
1901/1901 [==============================] - 12s 6ms/step - loss: -871129431185.3628 - accuracy: 0.0000e+00
Epoch 19/20
1901/1901 [==============================] - 11s 6ms/step - loss: -1011469823599.4448 - accuracy: 0.0000e+002s - loss: -1000086381707.3250
Epoch 20/20
1901/1901 [==============================] - 13s 7ms/step - loss: -1169087578163.6846 - accuracy: 0.0000e+00: 0s - loss: -1168430255070.6147 - accuracy: 0.0000