In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
white = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv", sep =';')
red = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep =';')

In [3]:
white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
# Double check for null values in `red`
pd.isnull(red)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,False,False,False,False,False,False,False,False,False,False,False,False
1595,False,False,False,False,False,False,False,False,False,False,False,False
1596,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
pd.isnull(red).sum() # pd.isnull(red).sum().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [10]:
# Add `type` column to `red` with price one
red['type'] = 1
 
# Add `type` column to `white` with price zero
white['type'] = 0
 
# Append `white` to `red`
wines = red.append(white, ignore_index = True)

In [11]:
from sklearn.model_selection import train_test_split
X = wines.iloc[:, 0:11]
y = np.ravel(wines.type)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.34, random_state = 45)

print(f"Train {X_train.shape} {y_train.shape}")
print(f"Test {X_test.shape} {y_test.shape}")

Train (4288, 11) (4288,)
Test (2209, 11) (2209,)

In [14]:
from keras.models import Sequential
from keras.layers import Dense,Input

In [15]:
model = Sequential([
    Input(shape = (X_train.shape[1],)),
    Dense(128,activation = 'relu'),
    Dense(64,activation = 'relu'),
    Dense(32,activation = 'relu'),
    Dense(1,activation = 'sigmoid'),
])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               1536
_________________________________________________________________
dense_1 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_2 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 33
=================================================================
Total params: 11,905
Trainable params: 11,905
Non-trainable params: 0
_________________________________________________________________

In [16]:
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

In [17]:
history = model.fit(X_train,y_train,epochs=10)

Epoch 1/10
134/134 [==============================] - 2s 3ms/step - loss: 0.3577 - accuracy: 0.8543
Epoch 2/10
134/134 [==============================] - 0s 3ms/step - loss: 0.1969 - accuracy: 0.9331: 0s - loss: 0.2009 - accuracy
Epoch 3/10
134/134 [==============================] - 0s 3ms/step - loss: 0.1552 - accuracy: 0.9478
Epoch 4/10
134/134 [==============================] - 1s 5ms/step - loss: 0.1678 - accuracy: 0.9417
Epoch 5/10
134/134 [==============================] - 1s 4ms/step - loss: 0.1278 - accuracy: 0.9570
Epoch 6/10
134/134 [==============================] - 2s 12ms/step - loss: 0.1294 - accuracy: 0.9606
Epoch 7/10
134/134 [==============================] - 1s 6ms/step - loss: 0.1166 - accuracy: 0.9611
Epoch 8/10
134/134 [==============================] - 1s 10ms/step - loss: 0.1124 - accuracy: 0.9683 0s - los
Epoch 9/10
134/134 [==============================] - 1s 10ms/step - loss: 0.0866 - accuracy: 0.9736 0s - loss: 0.0754 -
Epoch 10/10
134/134 [==============================] - 1s 5ms/step - loss: 0.0829 - accuracy: 0.9739

In [18]:
model.evaluate(X_test,y_test, verbose=1)

70/70 [==============================] - 1s 3ms/step - loss: 0.0854 - accuracy: 0.9737

[0.08539291471242905, 0.9737437963485718]

In [19]:
from sklearn.metrics import confusion_matrix, classification_report

In [24]:
y_pred_proba = model.predict(X_test)
y_pred = (y_pred_proba > 0.5).astype(int)

In [26]:
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[1629   12]
 [  46  522]]
              precision    recall  f1-score   support

           0       0.97      0.99      0.98      1641
           1       0.98      0.92      0.95       568

    accuracy                           0.97      2209
   macro avg       0.98      0.96      0.96      2209
weighted avg       0.97      0.97      0.97      2209

# Precsion Accraoy fo the positive 
# Recall Nb of the positive detected
# f1-score balance between two and closer to 1 means both are high recall and precsion